{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
    
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'css/libs.bundle.css' %}" />
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}" />
    
    <!-- Title -->
    <title>dotBrand Login</title>
  </head>
  <body>

    <!-- CONTENT -->
    <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center gx-0 min-vh-100">
          <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

            <!-- Heading -->
            <h1 class="mb-0 fw-bold text-center">
              Sign in
            </h1>

            <!-- Text -->
            <p class="mb-6 text-center text-muted">
              Simplify your workflow in minutes.
            </p>

            <!-- Form -->
            <form class="mb-6" method="post" action="{% url 'login' %}">
            {% csrf_token %}

              <!-- Email -->
              <div class="form-group">
                <label class="form-label" for="email">
                  Email Address
                </label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="name@address.com" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="">
              </div>

              <!-- Password -->
              <div class="form-group mb-5">
                <label class="form-label" for="password">
                  Password
                </label>
                <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter your password" autocomplete="current-password">
              </div>

              <!-- Submit -->
              <input class="btn w-100 btn-primary" type="submit" value="Sign in" />

            </form>

            <!-- Text -->
            <p class="mb-0 fs-sm text-center text-muted">
              Don't have an account yet <a href="{% url 'accounts:usersignup' %}">Sign up</a>.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    
    <!-- Vendor JS -->
    <script src="{% static 'js/vendor.bundle.js' %}"></script>
    
    <!-- Theme JS -->
    <script src="{% static 'js/theme.bundle.js' %}"></script>

  </body>
</html>
