.custom-button {
  cursor: pointer;
  background-color: #490E67;
  color: white;
  border-radius: 0;
  border-color: #490E67;
  box-shadow: none;
  border: 1px solid #490E67;
}
.custom-button:hover {
  background-color: #450d62;
  border-color: #450d62;
}
.custom-button:not(:disabled):not(.disabled):active {
  background-color: #3e0c58;
  border-color: #3e0c58;
}
.custom-button:focus {
  box-shadow: 0 0 0 0;
  outline: none;
}
.custom-button.focus {
  box-shadow: 0 0 0 0;
  outline: none;
}

.custom-button-large.custom-button {
  padding: 20px 60px;
  font-size: 18px;
  font-weight: 700;
}