{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Django Template Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h1>Django Template Page</h1>
    <p>This means everything is connected</p>
    <p>Here's a beauty...</p>
    <img src="{% static 'beauty.jpg' %}" />
  </body>
</html>