.radio-group {
    display: inline-flex;
    text-align: center;
}
.radio-group__label {
    font-size: 20px;
    color: #490E67;
    font-weight: 900;
    line-height: 35px;
    display: flex;
    text-align: right;
}
.radio-group__label.left-label {
    justify-content: right;
}
.radio-group__label.right-label {
    justify-content: left;
}
.radio-group__content {
    position: relative;
    display: inline-block;
    padding-right: -10px;
    margin: 0 30px;
}
.radio-group__content > button {
    border-radius: 0px;
    width: 117px;
    height: 35px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
.radio-group__content > button:first-child {
    background-image: linear-gradient(90deg, #490E67, #AA90B7);
    border-radius: 35px 0px 0px 35px;
}
.radio-group__content > button + button {
    background-image: linear-gradient(270deg, #490E67, #AA90B7);
    border-radius: 0 35px 35px 0;
}
.radio-group__content > .circle {
    display: inline-block;
    position: absolute;
    background-color: white;
    right: 97px;
    bottom: 3px;
    width: 40px;
    height: 40px;
    border: 4px solid #490E67;
    border-radius: 50%;
}
.radio-group__content.left > .circle {
    right: 200px;
}
.radio-group__content.right > .circle {
    right: -4px;
}
.disabled .radio-group__content > button {
    cursor: default;
}
.disabled .radio-group__label {
    font-size: 20px;
    color: #926ea4;
    font-weight: 900;
    line-height: 35px;
}
.disabled .radio-group__content > button:first-child {
    background-image: linear-gradient(90deg, #926ea4, #ccbcd4);
}
.disabled .radio-group__content > button + button {
    background-image: linear-gradient(270deg, #926ea4, #ccbcd4);
}
.disabled .radio-group__content > .circle {
    background-color: white;
    border: 4px solid #926ea4;
}
