{% extends 'partial/user/navbar.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1>Create Project Page</h1>
    <form action="/projects/create/" method="post">
        {% csrf_token %}
        <label for="name">Project name: </label>
        <input id="name" type="text" name="name" value="">
        <input type="submit" value="OK">
    </form>
  </div>
{% endblock content %}