{% extends 'partial/user/navbar.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1>Project Page</h1>
    <p>project name: <span>{{ project.name }}</span></p>
    <p>project description: <span>{{ project.description }}</span></p>
    <p>project cover: <img src="{{ project.cover.url }}" alt="" style="max-width: 100px;"></p>
    <p>form link: <a href="{{ link }}" target="_blank">{{ link }}</a></p>
  </div>
{% endblock content %}