{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>dotBrand Content Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A project management Bootstrap theme by Medium Rare">
    <link href="{% static 'assets/img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
        {% block content_form %}{% endblock content_form %}
  </body>

</html>